<header class="main-header">
    <% var menus = [{name: '상품 목록', href:'/', id: 'shop'},
        {name: '상품 추가(어드민)', href:'/admin/add-product', id:'add-product'},
        {name: '상품 목록(어드민)', href:'/admin/products', id:'admin-products'},
        {name: '사용자 목록(어드민)', href:'/admin/user-list', id: 'user-list'},
        {name: '주문 내역', href:'/orders', id: 'orders'},
        {name: '장바구니', href:'/cart', id: 'cart'},
        {name: '로그인', id: 'login', href:'/login'}]%>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <% for (let menu of menus) { %>
            <li class="main-header__item"><a class="<%= pagePath === menu.href ? 'active': '' %>" href="<%= menu.href%>"id="<%= menu.id%>"><%= menu.name %></a></li>
            <% } %>
        </ul>
    </nav>
</header>
