<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('common/head') %>
</head>
<body>
<header class="main-header">
    <%- include('common/nav'); %>
</header>
<main>
    <h1>잘못된 경로로 접근하셨어</h1>
</main>
</body>
</html>