<html>
<head>
    <%- include('common/head') %>
    <link rel="stylesheet" href="/css/login.css" />
</head>
<body>
    <header class="main-header">
        <%- include('common/nav') %>
    </header>
    <main>
        <div class="login-form">
            <h1>아이디/비밀번호 입력</h1>
            <input type="text" id="formUserName" placeholder="User Name" required name="userName" />
            <input type="password" id="formUserPassword" placeholder="User Password" required name="userPassword" />
            <button type="button" id="login-button">로그인</button>
        </div>
    </main>
    <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="module" src="js/login.js"></script>
<%- include('common/end') %>