extends layouts/default-layout
include mixins/stylelinks
append styles
    +stylelinks(['/css/login.css'])
block contents
    .login-form
        h1 로그인 하세요
            input#formUserName(type='text', placeholder='User Name', required='true', name='userName')
            input#formUserPassword(type='password', placeholder='password', required='true' name='userPassword')
            button#login-button(type='button') 로그인
append contents
    script(src='https://unpkg.com/axios/dist/axios.min.js', type='text/javascript')
    script(src='js/login.js', type='module')
