extends layouts/default-layout
block contents
    h1 상품 목록 페이지
    p 모든 상품 목록
    p 상품 CSS 및 PUG 기반 페이지
    button(type='button' id='main_btn') 쿠키업데이트

append contents
    script(type='module' src='/js/common.js')

