html
    head
        meta(charset='utf-8')
        link(rel='stylesheet' href='/css/main.css')
        title 샵
    body
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a.active(href='/') Shop
                    li.main-header__item
                        a(href='/admin/add-product') Add Product
                    li.main-header__item
                        a(href='/login') Login
        main
            h1 상품들 퍼그
            p 모든 상품 목록
            p 상품 CSS 및 PUG 기반 페이지
        script(type='text/javascript' src='/js/main.js')

