<%- include('../common/head') %>
</head>
<body>
<%- include('../common/nav') %>
<main>
    <h1>사용자 등록</h1>
    <form method="post" action="/registe-user">
        <div class="form-control">
            <label for="userName">유저 이름</label>
            <input type="text" name="userName" id="userName" />
        </div>
        <div class="form-control">
            <label for="userEmail">유저 이메일</label>
            <input type="text" name="userEmail" id="userEmail" />
        </div>
        <button type="submit">등록</button>
    </form>
</main>
<%- include('../common/end') %>