<%- include('../common/head') %>
<link rel="stylesheet" href="/css/product.css" />
</head>
<body>
<%- include('../common/nav') %>
<main>
    <form class="product-form" action="/admin/add-product" method="POST">
        <div class="form-control">
            <label for="title">상품명</label>
            <input type="text" name="title" id="title" />
            <label for="imageUrl">이미지 경로</label>
            <input type="text" name="imageUrl" id="imageUrl" />
        </div>
        <div class="form-control">
            <label for="price">가격</label>
            <input type="text" name="price" id="price" />
            <label for="description">상품 설명</label>
            <textarea name="description" id="description" rows="5"></textarea>
        </div>
        <button type="submit">
            <% if(editMode) {%> 수정 완료<%} else {%> 등록 하기 <% }%>
        </button>
    </form>
</main>
<%- include('../common/end') %>