include ../mixins/nav
html(lang='ko')
    head
        meta(charset="UTF-8")
        title=docTitle
        block styles
            link(rel="stylesheet" href="/css/main.css")
    body
        header.main-header
            +nav(pagePath)
        main
            block contents